@import "../../utilities/mixins";
@import "../../utilities/color-palette";

.input-container {
  display: flex;
  align-items: center;
  @include theme-aware('background-color', 'color-element');
  border-radius: 5px;
  grid-area: 1 / 1 / 2 / 3;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(133, 133, 133, 1);
  -moz-box-shadow: 0px 0px 10px -5px rgba(133, 133, 133, 1);
  box-shadow: 0px 0px 10px -5px rgba(133, 133, 133, 1);
}

.search-icon {
  text-align: center;
  border: 1px solid none;
  @include theme-aware('border-color', 'color-element');
  padding: 10px 20px;
  @include theme-aware('color', 'color-text');
}

.input-field {
  outline: none;
  border: none;
  width: 100%;
  padding: 10px;
  @include theme-aware('color', 'color-text');
  background: none;
}

.input-field:focus {
  border: none;
}
