@import "../../utilities/mixins";
@import "../../utilities/color-palette";

.input-container {
  display: flex;
  align-items: center;
  @include theme-aware('background-color', 'color-elements');
  border-radius: 5px;
  grid-area: 1 / 1 / 2 / 3;
  @include theme-aware('box-shadow', 'color-shadow');
}

.search-icon {
  text-align: center;
  border: 1px solid;
  @include theme-aware('border-color', 'color-elements');
  padding: 10px 20px;
  @include theme-aware('color', 'color-text');
}

.input-field {
  outline: none;
  border: none;
  width: 100%;
  padding: 10px;
  @include theme-aware('color', 'color-text');
  background: none;
}

input::placeholder {
  @include theme-aware('color', 'color-text');
}

.input-field:focus {
  border: none;
}
