@import "../../utilities/mixins";
@import "../../utilities/color-palette";

.btn {
  padding: 5px 20px;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  @include theme-aware('background-color', 'color-elements');
  border: 1px solid;
  @include theme-aware('border-color', 'color-elements');
  @include theme-aware('color', 'color-text');
  @include theme-aware('box-shadow', 'color-shadow');
  cursor: pointer;
}
.nav-btn {
  padding: 11px 40px;
  margin: 0px;
}
.btn-link {
  text-decoration: none;
  @include theme-aware('color', 'color-text');
}
.btn-icon {
  margin-right: 8px;
}