@import "../../utilities/mixins";
@import "../../utilities/color-palette";

.country-details-wrapper {
  @include theme-aware('background-color', 'color-background');
  @include theme-aware('color', 'color-text');
  padding: 40px 24px;;
}

.country-details-header {
  margin-bottom: 40px;
}

.country-details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country-details-data {
  h2 {
    font-size: 1.8rem;
    margin-top: 40px;
  }
}

.country-details-data-columns {
  display: flex;
  flex-direction: column;
}

.country-details-data-column {
  margin-right: 120px;
}

.country-details-others {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  & > * button {
    margin-left: 0;
  }
}

@media (min-width: 1000px) {
  .country-details-wrapper {
    padding: 40px 80px;
  }

  .country-details-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
  }

  .country-details-data-columns {
    display: flex;
    flex-direction: row;
  }

  .country-details-flag {
    grid-area: 1 / 1 / 2 / 5;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .country-details-data {
    grid-area: 1 / 6 / 2 / 13;
    h2 {
      font-size: 1.8rem;
      margin-top: 0;
    }
  }

  .country-details-others {
    margin-top: 60px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    & > * {
      margin-right: 20px;
    }
    & > * button {
      margin-left: 5px;
    }
  }
}



