$themes: (
  light: (
    color-background: hsl(0, 0%, 98%),
    color-elements: hsl(0, 0%, 100%),
    color-input:hsl(0, 0%, 52%),
    color-text: hsl(200, 15%, 8%)
  ),
  dark: (
    color-background: hsl(207, 26%, 17%),
    color-elements: hsl(209, 23%, 22%),
    color-text: hsl(0, 0%, 100%)
  )
);

// $clr-bg-light: hsl(0, 0%, 98%);
// $clr-elem-light: hsl(0, 0%, 100%);
// $clr-input-light: hsl(0, 0%, 52%);
// $clr-txt-light: hsl(200, 15%, 8%);

// $clr-bg-dark: hsl(207, 26%, 17%);
// $clr-elem-dark: hsl(209, 23%, 22%);
// $clr-txt-dark: hsl(0, 0%, 100%);

// $scheme-light: $clr-bg-light, $clr-txt-light;
// $scheme-dark: $clr-bg-dark, $clr-txt-dark;