@import "../../utilities/mixins";
@import "../../utilities/color-palette";

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  grid-column-start: 3;
  margin: auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid hsl(200, 15%, 8%);
  @include theme-aware('border-color', 'color-spinner');
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
