@import "../../utilities/mixins";
@import "../../utilities/color-palette";

.toggler-btn {
  @include theme-aware('background-color', 'color-background');
  @include theme-aware('color', 'color-text');
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.toggler-icon {
  margin-right: 10px;
}