@import "../../utilities/mixins";
@import "../../utilities/color-palette";

.toggler-btn {
  @include theme-aware('background-color', 'color-elements');
  @include theme-aware('color', 'color-text');
  border: none;
  cursor: pointer;
  width: fit-content;
  display: flex;
  padding: 0;
  strong {
    font-weight: 600;
    font-size: 0.8rem;
  }
}
.toggler-icon {
  margin-right: 10px;
}