@import "../../utilities/mixins";
@import "../../utilities/color-palette";

.card {
  @include theme-aware('background-color', 'color-elements');
  border-radius: 5px;
  @include theme-aware('box-shadow', 'color-shadow');
}

.card-header {
  height: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
}

.card-content {
  padding: 30px 25px;
  h2 {
    font-size: 1.3rem;
    margin: 0;
  }
  a {
    text-decoration: none;
    @include theme-aware('color', 'color-text');
  }
}