.countries-wrapper {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
  min-height: 100vh;
  padding: 40px 80px;
}

.countries-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 40px;
}

.countries-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}