.countries-wrapper {
  min-height: 100vh;
  padding: 2.5rem 1.5rem;
}

.countries-header {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.countries-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.75rem;
  padding: 0px 1.875rem;
  margin-top: 2.5rem;
}

.spinner-div {
  width: 100vw;
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  justify-content: center;
}

@media (min-width: 1000px) {
  .countries-wrapper {
    padding: 2.5rem 5rem;
  }

  .countries-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 2.5rem;
  }
  
  .countries-content {
    padding: 0px 0px;
    margin-top: 0px;
  }
}

