@import "../../utilities/mixins";
@import "../../utilities/color-palette";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 80px;
  -webkit-box-shadow: 0px 11px 24px -20px rgba(133, 133, 133, 1);
  -moz-box-shadow: 0px 11px 24px -20px rgba(133, 133, 133, 1);
  box-shadow: 0px 11px 24px -20px rgba(133, 133, 133, 1);
  position: relative;
  z-index: 10;
  h1 {
    font-size: 1.5rem;
  }
  a {
    text-decoration: none;
    @include theme-aware('color', 'color-text');
  }
}