@import "../../utilities/mixins";
@import "../../utilities/color-palette";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 80px;
  @include theme-aware('box-shadow', 'color-shadow');
  @include theme-aware('background', 'color-elements');
  position: relative;
  z-index: 10;
  h1 {
    font-size: 1.5rem;
  }
  a {
    text-decoration: none;
    @include theme-aware('color', 'color-text');
  }
}