@import "../../utilities/mixins";
@import "../../utilities/color-palette";

.select-container {
  width: 50%;
  border-radius: 5px;
  border: none;
  @include theme-aware('box-shadow', 'color-shadow');
}

select {
  cursor: pointer;
  @include theme-aware('background-color', 'color-elements');
}

.select-field {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  @include theme-aware('border-color', 'color-elements');
  @include theme-aware('color', 'color-text');
  border-radius: 5px;
  outline: none;
}

.select-field:focus {
  border: 1px solid;
  @include theme-aware('border-color', 'color-elements');
  outline: none;
}


@media (min-width: 1000px) {
  .select-container {
    grid-area: 1 / 7 / 2 / 8;
  }
}

