@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import "utilities/color-palette";
@import "utilities/mixins";

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  @include theme-aware('background-color', 'color-background');
  @include theme-aware('color', 'color-text');
}